/* OTPComponent.css */

.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    height: 100vh; /* Set container height to viewport height for vertical centering */
  }
  
  .otp-input-container {
    display: flex;
    justify-content: center;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
    font-size: 20px;
  }
  
  .submit-button {
    margin-top: 20px; /* Add margin to separate button from inputs */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  